{% extends 'base_bootstrap.html' %}

{% block content %}
    {% if auto_list %}
        {% for auto in auto_list %}
            <ul>
                <li>
                    {{ auto.nickname }} - {{ auto.make }}
                    (<a href="{% url 'autos:auto_update' auto.id %}">Update</a>
                    <a href="{% url 'autos:auto_delete' auto.id %}">Delete</a>)
                    {{ auto.comments }} {{ auto.mileage }}KL
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p>There are no autos in the library.</p>
    {% endif %}
    <p>
        {% if make_count > 0 %}
            <a href="{% url 'autos:auto_create' %}">Add an auto</a>
        {% else %}
            <a href="{% url 'autos:make_create' %}">Please add a make before you add an auto.</a>
        {% endif %}
    </p>
    <p>
        <a href="{% url 'autos:make_list' %}">View makes</a> ({{ make_count }}) |
        <a href="{% url 'autos:make_create' %}">Add a make</a>
    </p>
{% endblock %}